// Цвета
$gen: #374789;
$accent: #FA899B;
$back: #FFF;
// $footer: #374789;

// Шрифт
$title: 'Exo 2', sans-serif;
$text: 'Exo 2', sans-serif;

// Цвета Шрифтов
$colorTitle: #000;
$colorText: #515151;
$colorLink: teal;

// Размеры
$minWidth: 320;
$transitionWidth: 680;
$maxWidth: 1160;
$lineHeight: 1;
